<!DOCTYPE html>
<html lang="en-us"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br/>
            <div th:if="${param.success}">

                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    Successfully registered.<a class="nav-link" th:href="@{/logout}">Click here to login</a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <h1 class="display-4 mb-3">Register</h1>
            <form th:action="@{/update}" method="POST" th:object="${user}">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control-lg" id="firstName"
                           placeholder="firstName" th:field="*{firstName}" required autofocus>
                    <label for="firstName" class="col-form-label">Enter your first name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control form-control-lg" id="lastName"
                           placeholder="lastName" th:field="*{lastName}" required >
                    <label for="lastName" class="col-form-label">Enter your last name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control form-control-lg" id="email"
                           placeholder="Email" th:field="*{email}" required >
                    <label for="email" class="col-form-label">Enter your email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control form-control-lg" id="password"
                           placeholder="Password" th:field="*{password}" required>
                    <label for="password" class="col-form-label">Enter your password</label>
                </div>
                <div class="form-floating mb-3" >
                    <select id="type" class="form-select form-control-lg" name="type">
                        <option value="0" selected>Reader</option>
                        <option value="1">Author</option>
                    </select>
                    <label for="type" class="col-form-label">Choose who you are</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>